<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<%- partial('layouts/navbar') %>

  <div class="w-full h-full bg-no-repeat bg-cover bg-left" style="background-image: url('imgs/buena.jpg') ">
  <section>
    
    <div class="grid max-w-screen-xl  py-[259px] mx-auto lg:gap-8 xl:gap-1 lg:py-[259px] lg:grid-cols-12">

        
        <div class="mr-auto place-self-center lg:col-span-7 ml-[64px] mb-[84px]">
            <h1 class="max-w-full mb-4 text-4xl  font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-[#758bfd]">MoveFit</h1>
            <p class="max-w-2xl mb-6 font-light text-black-500 lg:mb-8 bg-[#ff8600] p-5 md:text-lg lg:text-xl  text-[#000] rounded-lg">the best version of yourself, star with onclick</p>
           
            </a>
            <a href="#"  id="animate" class="inline-flex items-center justify-center px-10 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-[#758BFD] dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
               <button onclick="beyblade()">App</button> 
            </a> 
        </div>
        <div class="hidden lg:mt-0  lg:col-span-5 
        lg:flex w-1/2  ml-[70px] mt-[994px] ">
            <img src="imgs/phone.png">
        </div>                
    </div>
</section>
<%- partial('layouts/footer') %>
</div>
<script>
    function beyblade() {
    let x = document.getElementById("animate")
    x.style.marginLeft = "300px"
    x.style.transition = "1s"
    }
    </script>

</body>
</html>