<form action="/signup" method="POST">
    <input type="text" name="username" id="username" placeholder="Insert username">
    <input type="email" name="email" id="email" placeholder="insert email">
   <!--  <input type="password" name="password" id="password" placeholder="insert password">
    <input type="password" name="password2" id="password2" placeholder="confirm your password"> -->


    <button name="signupBtn" type="submit">
        Sign up!
    </button>
</form>