<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <link rel="stylesheet" type="text/css" href="/landing.css">
</head>
<body>
   <section>
    <div class="circle"></div>
    <header>
        <a href="/" class="logo">MoveFitt</a>
        <ul class="navbar">
            <li><a href="/about">About us</a></li>
            <li><a href="/foro">Forum</a></li>
            <li><a href="/instructions">Instructions</a></li>
            <li><a href="/services">Services</a></li>
            <li><button id="btnLogin" class="login">Sign In</button></li>
            <li><button id="btnReg" class="login-register">Sign Up</button></li>
        </ul>
    </header>
 
    <div class="content">
        <div class="boxtitle">
            <h2>Muevete rico <br></h2>
            <h2>Desde <span>tu casa</span></h2>
            <p>Dios no solo mata pecadores</p>
            <a href="">Bajar app</a>
        </div>

        <div class="wrapper" >
            <span class="icon-close" id="close">
                <ion-icon name="close-outline"></ion-icon>
            </span>
            
            <div class="form-box login">
                <h2>Login</h2>
                <form action="">
                    <div class="input-box">
                        <span class="icon">
                        </span>
                        
                        <input type="email" required>
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="cino"></span>
                        
                        <input type="password" required>
                        <label>Password</label>
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <div class="login-register">
                        <p><a href="" class="register-link" id="reg-link"></a></p>
                    </div>
                </form>
            </div>

            <div class="form-box register">
                <h2>Register</h2>
                <form action="">
                    <div class="input-box">
                        <span class="icon">
                        </span>
                        
                        <input type="text" required>
                        <label>Username</label>
                    </div>
                    <div class="input-box">
                        <span class="icon">
                        </span>
                        
                        <input type="email" required>
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="cino"></span>
                        
                        <input type="password" required>
                        <label>Password</label>
                    </div>
                    <button type="submit" class="btn">SignUp</button>
                    <div class="login-register">
                        <p><a href="#" class="login-link"></a></p>
                    </div>
                </form>
            </div>
        </div>
        

        <div class="imgbox">
            <img src="imgs/asideNino.jpg" alt="">
        </div>
    </div>
    
    
   </section>
   <script src="landing.js"></script>
   <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>