<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <link rel="stylesheet" type="text/css" href="/landing.css">
</head>
<body>
    
        <header>
            <div class="logo">
                <h1>MoveFitt</h1>
                <img src="imgs/icon.jpg" class="logo"> 
            </div>
            <input type="checkbox" id="nav_check" hidden>
            
            <nav>
                <ul>
                    <li>
                        <a href="/" class="active">Home</a>
                    </li>
                    <li>
                        <a href="foro">Foro</a>
                    </li>
                    <li>
                        <a href="instructions">Instructions</a>
                    </li>
                    <li>
                        <a href="services">Services</a>
                    </li>
                    <li>
                        <a href="about">About</a>
                    </li>
                    <button class="btn">Sing Up</button>
                    <button class="btn">Sign In</button>
                </ul>
                
            </nav>
            <label for="nav_check" class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </label>
        </header>
   

    <section class="home">

        <section class="home-content">
            <h1>MOVE FITT</h1>
            <h3>"The best version youself. Being with one click"</h3>
        </section>

        <aside class="left_bar">
            <img src="imgs/cel.png" alt="cel">
        </aside>

    </section>
</body>
</html>