<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="services.css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/" class="logo">MoveFitt</a>
        <ul class="navbar">
            <li><a href="/about">About us</a></li>
            <!-- <li><a href="/foro">Forum</a></li> -->
            <li><a href="/instructions">Instructions</a></li>
            <li><a href="/services">Services</a></li>
            <li><button class="login">Sign In</button></li>
            <li><button class="reg">Sign Up</button></li>
        </ul>
    </header>

<div class="content">
    <div class="web-app">
        <div class="web-text">
            <h1>Web</h1>
            <p>Use the website to check out you profile!</p>
        </div>
        <div class="web-img">
            <img src="imgs/icon.jpg" >
        </div>
    </div>
    <div class="movil-app">
        
        <div class="movil-text">
            <h1>Mobile app</h1>
            <p>Create your routines and start working out!</p>
        </div>
        <div class="movil-img">
            <img src="imgs/icon.jpg" alt="">
        </div>
    </div>
    <div class="hardware-app">
        <div class="hardware-text">
            <h1>hardware titulo</h1>
            <p>Use the device to communicate you movements to the app</p>
        </div>
        <div class="hardware-img">
            <img src="imgs/icon.jpg" alt="">
        </div>
    </div>
</div>




</body>
</html>