@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");
.content{
    position: relative;
    width: 100%;
    display: block;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    margin: 200px 50px;
    justify-content: center;
}
content .boxtitle{
    position: relative;
    max-width: 600px;
    
}

.content .boxtitle h2 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #ff9ff3;
    line-height: 1.2;
}

.content .boxtitle p {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #ff9ff3;
    font-family: 'Lora',serif;
    font-weight: 600;
    margin-bottom: 20px;
}

/*card*/
.card {
    margin: auto;
  height:fit-content;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem;
  background: #f8f3e8;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.card > img {
  width: auto;
  height: auto;
  aspect-ratio: 600/300;
}

.card > h2 {
  margin-top: 1rem;
  font-family: "Kalam", cursive;
  font-weight: normal;
  font-size: 2rem;
  color: #4a4a7d;
  text-align: center;
}

.card > p {
  font-family: "Kalam", cursive;
  font-size: 1rem;
  color: #5e5e89;
  text-align: center;
}
/*endcard*/