* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

body{
    background: #f7eded;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;

}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    color: #c8d6e5 ;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    background: #ff9ff3;
    padding: 0 10px;
    font-family: 'Lora',serif;
    font-weight: 600;

}

header .navbar{
    position: relative;
    display: flex;

}

header .navbar li{
    list-style: none;
    margin-left: 30px;
}

header .navbar li a{
    text-decoration: none;
    color: #8395a7;
    font-weight: 600;
    padding: 10px;
    transition: 0.3s;
    font-size: 0.9rem;
    text-transform: uppercase;
}

header .navbar li a:hover {
    color: #fff;
}
header .navbar li button{
    list-style: none;
    padding: 3px 5px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    background-color: #ff9ff3;
    color: white;
}
header .navbar li button:hover{
    background-color: white;
    color: black;
}

header .navbar li .login {
    background-color: #fff;
    color: black;
}
header .navbar li .login:hover {
    background-color: #ff9ff3;
    color: white;
}

/*body content*/

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}
.content .boxtitle{
    position: relative;
    max-width: 600px;
}

.content .boxtitle h2 {
    font-size: 4.5rem;
    text-transform: uppercase;
    color: #ff9ff3;
    line-height: 1.2;
}

.content .boxtitle h2 span {
    background: #f7eded;
    color: #8395a7;
    padding: 0 10px;
    font-family: 'Lora',serif;
    font-weight: 600;
}
.content .boxtitle p {
    font-size: 1.8rem;
    line-height: 1.5;
    color: #ff9ff3;
    font-family: 'Lora',serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.content .boxtitle a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ff9ff3;
    background: #c8d6e5;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.3s;
}
.content .boxtitle a:hover {
    color: #c8d6e5;
    background: #ff9ff3;
}
.content .imgbox {
    width: 650px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 30px;

}

.content .imgbox img{
height: 550px;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ababab;
    clip-path: circle(650px at right 750px);
    width: 100%;
    height: 100%;

}

/*LOGIN CSS*/
.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register{
    position: absolute;
    transform: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper{
    display: flex;
    margin: auto;
    position: relative;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter:blur(20px);
    box-shadow: 0 0 30px rgb(0, 0, 0,.5);
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    transform: scale(0);
    transition: transform 1s ease height .2s ease;
}

.wrapper.active-btnLogin{
    transform: scale(1);
}
.wrapper.active {
    height: 520px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;

}
.form-box h2{
    font-size: 2rem;
    color: black;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #f7eded;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 0px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;

}
.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #ff9ff3;
    font-size: 2em;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    z-index: 1;
    cursor: pointer;
    
}
/*End login css*/