* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

body{
    background: #f7eded;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;

}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    color: #c8d6e5 ;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    background: #ff9ff3;
    padding: 0 10px;
    font-family: 'Lora',serif;
    font-weight: 600;

}

header .navbar{
    position: relative;
    display: flex;

}

header .navbar li{
    list-style: none;
    margin-left: 30px;
}

header .navbar li a{
    text-decoration: none;
    color: #8395a7;
    font-weight: 600;
    padding: 10px;
    transition: 0.3s;
    font-size: 0.9rem;
    text-transform: uppercase;
}

header .navbar li a:hover {
    color: #fff;
}
header .navbar li button{
    list-style: none;
    padding: 3px 5px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    background-color: #ff9ff3;
    color: white;
}
header .navbar li button:hover{
    background-color: white;
    color: black;
}

header .navbar li .login {
    background-color: #fff;
    color: black;
}
header .navbar li .login:hover {
    background-color: #ff9ff3;
    color: white;
}