

<div class="sm:w-96 lg:w-[32rem] mt-5">	
    <div class="p-4 rounded-lg border border-gray-700 h-auto bg-[white]">
        <div class="flex items-center gap-3 p-2">
            <h3 class="text-black text-sm dark:text-gray-400">
                <a class="text-black hover:text-blue-400" href=""><%=email%></a>
            </h3>
        </div>
        <p class="text-sm text-gray-400"><h4>Count: <%=x%></h4></p>
    </div>
</div>

<script>

</script>