<div class="sm:w-96 lg:w-[32rem] mt-5">
			
    <div class="p-4 rounded-lg border border-gray-700 h-auto bg-[white]">
        <div class="flex items-center gap-3 p-2">
            <img class="w-8 h-8 rounded-full hover:cursor-pointer" src="imgs/temp.jpg" alt="user photo">
            
            <h3 class="text-black text-sm dark:text-gray-400"><a class="text-black hover:text-blue-400"
                    href="">^_^ Nino</a></h3>
        </div>
        
        <p class="text-sm text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nostrum doloremque eum consectetur amet id deserunt vel, quia cupiditate soluta.!</p>
        <div class="mt-3 flex items-center gap-5">
            <img src="imgs/ok.jpg" alt="">
        </div>
    </div>
</div>